<div class="navbar-container">
    <nav class="navbar container">
        <div class="logo-container">
            <div class="logo gradient">
                ZB
            </div>
            <div class="logo-text">
                Zepto Books
            </div>
        </div>


        <div class="navbar-right-container">
            <a href="/wishlist" title="Wishlist">
                <i class="navbar-wishlist-icon fa-regular fa-heart"></i>
            </a>
            
            <div class="searchbar-container">
                <div class="searchbar-icon searchbar-left-icon">
                  <i class="searchbar-icon-text fa-solid fa-magnifying-glass"></i>
                </div>
                <input class="searchbar-input-field" type="text" />
                <div class="searchbar-icon searchbar-right-icon">
                  <i class="searchbar-icon-text fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
          
    </nav>
</div>