<div class="navbar-container">
    <nav class="navbar container">
        <a href="/" class="logo-container">
            <div class="logo gradient">
                <!-- ZS -->
                <i class="fa-solid fa-book"></i>
            </div>
            <div class="logo-text">
                ZepTOP SHELF
            </div>
        </a>


        <div class="navbar-right-container">
            <a href="/wishlist.html" title="Wishlist">
                <i class="navbar-wishlist-icon fa-regular fa-heart"></i>
            </a>
            
            <div id="searchbar-container" class="searchbar-container">
                <div class="searchbar-icon searchbar-left-icon">
                  <i class="searchbar-icon-text fa-solid fa-magnifying-glass"></i>
                </div>
                <input id="search-input" class="searchbar-input-field" type="search" placeholder="Search..." />
                <div class="searchbar-icon searchbar-right-icon">
                  <i class="searchbar-icon-text fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
          
    </nav>
</div>