<div class="view-container">
    <div class="book-section">
      <div class="book-cover">
        <div class="book-cover-image">
          <img id="cover-image" src="https://marketplace.canva.com/EAFaQMYuZbo/1/0/1003w/canva-brown-rusty-mystery-novel-book-cover-hG1QhA7BiBU.jpg" alt="Book Cover">
        </div>
      </div>
      <div class="book-details">
        <div class="book-meta">
          <div id="book-id" class="book-id">#12398</div>
          <div id="language" class="book-language">EN</div>
        </div>
        <div id="title" class="book-title">A Game of Thrones</div>
        <div id="book-authors" class="book-authors">
          <div>George R. R. Martin <span class="author-lifespan">(1912 - 1973)</span></div>
        </div>

        <div class="total-downloads">
            Total Downloads: <span id="download-count">27677</span>
        </div>
        
        <div id="subjects">
            <div class="book-subjects-title">Subjects:</div>
            <ul id="subjects-list" class="book-subjects-list">
                <li>England -- Fiction</li>
                <li>Female friendship -- Fiction</li>
                <li>Older women -- Fiction</li>
                <li>Pastoral fiction</li>
                <li>Sisters -- Fiction</li>
                <li>Villages -- Fiction</li>
            </ul>
        </div>
        
        <div class="book-actions">
          <a href="/" target="_blank" id="epub-download" class="download-epub">Download ePub</a>
          <a href="/" target="_blank" id="ebook-download" class="download-ebook">Download eBook</a>
        </div>
      </div>
    </div>

    <div id="awards" class="additional-info">
      <div class="awards">
        <div class="awards-title">
            🏆 Awards:
        </div>
        <ul id="awards-list" class="awards-list">
          <li>Browsing: Culture/Civilization/Society</li>
          <li>Browsing: Fiction</li>
          <li>Browsing: Literature</li>
        </ul>
      </div>

      <div id="translators" class="translators">
        <div class="translators-title">
            <i class="fa-solid fa-language"></i>
            <span>Translators:</span>
        </div>
        <ul id="translators-list" class="translators-list">
          <li>N/A</li>
        </ul>
      </div>
    </div>

    <!-- <div class="copyright">©</div> -->

    <div class="iframe-disclaimer">ⓘ This iframe will not load on https server. And I was too lazy to make a proxy server for this.</div>
    <iframe id="book-iframe" class="book-iframe" src="" frameborder="0"></iframe>
</div>