<div class="navbar-container">
    <nav class="navbar container">
        <div class="logo">
            Zepto Books
        </div>

        <div class="searchbar-container">
            <div class="searchbar-icon searchbar-left-icon">
              <i class="searchbar-icon-text fa-solid fa-magnifying-glass"></i>
            </div>
            <input class="searchbar-input-field" type="text" />
            <div class="searchbar-icon searchbar-right-icon">
              <i class="searchbar-icon-text fa-solid fa-bars"></i>
            </div>
          </div>
          
    </nav>
</div>