.card-container {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* column-gap        : 25px; */
    /* row-gap           : 25px; */
    grid-gap             : 25px;
    min-height           : 0;
    min-width            : 0;
}

@media (width < 1500px) {
    .card-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (width < 1200px) {
    .card-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (width < 768px) {
    .card-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (width < 500px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}

.card {
    min-width    : 0;
    border       : 2px solid rgb(221, 221, 221);
    border-radius: 10px;
    padding      : 15px;
    opacity      : 0;
}


.card-image-container {
    height          : 350px;
    position        : relative;
    overflow        : hidden;
    border-radius   : 10px;
    background-color: rgb(234, 234, 234);
}
.card-image-container:hover {
    overflow        : visible;

}
@media (width < 500px) {
    .card-image-container {
        height          : 450px;
    }
}

.card-image-container img {
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
    width    : 100%;
}

.wishlist {
    position        : absolute;
    top             : 5px;
    right           : 5px;
    padding         : 10px;
    height          : 20px;
    width           : 20px;
    display         : grid;
    place-items     : center;
    border-radius   : 10px;
    cursor          : pointer;
    background-color: white;
    color           : var(--primary);
    border: none;
}

.wishlist.active {
    background-color: var(--primary);
    color           : white;
}

.card-texts-container {
    font-family: var(--font-nunito);
    margin-top : 15px;
    display: block;
}

.card-toolbar {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    margin-bottom  : 5px;
    color: black;
}

.book-id {
    font-weight: bold;
    font-size  : 20px;
}

.download-count {
    display    : flex;
    align-items: center;
    color      : gray;
}

.download-count-text {
    font-weight : bold;
    font-size   : 15px;
    margin-right: 5px;
}

.card-title {
    font-weight: bold;
    font-size  : 20px;
    color: black;
}

.card-subtitle {
    color      : var(--primary);
    font-weight: 600;
}