@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('./variables.css');
@import url('./utilis.css');
@import url('./navbar.css');
@import url('./logo.css');
@import url('./searchbar.css');
@import url('./cards.css');
@import url('./pagination.css');
@import url('./loader.css');

body {
    font-family     : var(--font-inter);
    margin          : 0;
    padding         : 0;
    background-color: #f4f4f4;
    box-sizing      : border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: var(--max-body-w);
    margin: 0 auto;
    padding: 0 20px;
}

.main-body {
    padding-top: 100px;
    padding-bottom: 25px;
}
