.navbar-container {
    background-color: white;
    box-shadow      : 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    position        : fixed;
    width           : 100%;
    z-index         : var(--z-navbar);
}

.navbar {
    height         : 70px;
    display        : flex;
    align-items    : center;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.navbar-right-container {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}


.navbar-wishlist-icon {
    padding         : 13.5px;
    display         : grid;
    place-items     : center;
    border-radius   : 5px;
    cursor          : pointer;
    background-color: white;
    color           : var(--primary);
    /* border       : 1px solid var(--primary); */
    margin-right    : 10px;
    font-size       : 20px;
    transition: all ease-in 0.2s;
}

.navbar-wishlist-icon:hover {
    background-color           : var(--primary);
    color: white;
}

.navbar-wishlist-text {
    font-size: 15px;
    color    : var(--primary);

}