.navbar-container {
    background-color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    position: fixed;
    width: 100%;
    z-index: var(--z-navbar);
}
.navbar {
    height: 70px;
    display: flex;
    align-items: center;
}

.logo {
    font-family: var(--font-megrim);
    font-weight: bolder;
    font-size: 30px;
    padding: 10px 0;
    display: inline-block;
}