.pagination-container {
    display: flex;
    justify-content: flex-end;
}

.pagination {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    margin: 20px 0;
}

.pagination-link {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.2s ease;
}

.pagination-link:hover {
    background-color: var(--primary-light);
    color: white;
}

.pagination-link.active {
    background-color: var(--primary);
    color: white;
}

.pagination-numbers {
    display: flex;
    align-items: center;
    gap: 16px;
}

.prev, .next {
    display: flex;
    align-items: center;
    gap: 8px;
}
