:root {
    /* Colors */
    --primary-color: #7065CE;
    --secondary-color: #ef70f6;
    --gray: #a4a0c8;

    /* Fonts */
    --font-family: 'Arial, sans-serif';
    --font-inter: "Inter", sans-serif;
    --font-megrim: "Megrim", system-ui;
    --font-nunito: "Nunito", sans-serif;

    /* Layout */
    --max-body-w: 1500px;

    /* z-index */
    --z-navbar: 100;
}