:root {
    /* Colors */
    --primary-color: #9348e3;
    --secondary-color: #ef70f6;

    /* Fonts */
    --font-family: 'Arial, sans-serif';
    --font-inter: "Inter", sans-serif;
    --font-megrim: "Megrim", system-ui;

    /* Layout */
    --max-body-w: 1500px
}